body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

#banner img {
    width: 100%;
}

h1 {
    text-align: center;
    font-size: 2em;
    margin: 20px 0;
}

#overview img{
    text-align: center;
}

#overview {
    width: 30%;
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    float: right;
    margin-right: 20px;
}

#details {
    width: 30%;
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    float: right;
    margin-right: 20px;
}

#reviews {
    width: 60%;
    background-color: white;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    float: left;
}

.review {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.review:last-child {
    border-bottom: none;
}

.review img {
    vertical-align: middle;
}

q {
    font-style: italic;
}

#footer {
    text-align: center;
    margin-top: 20px;
}

#footer img {
    width: 88px;
    height: 31px;
    border: none;
}
