body {
    font-family: Arial, sans-serif;
    background-image: url('background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #333;
    margin: 0;
    padding: 0;
}

#banner img {
    width: 100%;
}

#content {
    width: 80%;
    margin: 0 auto;
    background-color: #e0f7ef;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    overflow: hidden; /* Clear the floats */
    position: relative; /* Ensure relative positioning */
}

h1 {
    text-align: center;
    font-size: 2em;
    margin: 20px 0;
}

#overview {
    width: 40%;
    float: right; /* Float right to align on the right side */
    clear: both; /* Clear both to prevent overlap */
    position: absolute; /* Position absolutely within #content */
    top: 0; /* Align to the top of #content */
    right: 0; /* Align to the right of #content */
    margin-top: 20px; /* Optional margin for spacing */
}


#details {
    width: 40%;
    float: right;
}

#reviews {
    width: 50%;
    padding: 10px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    float: left;
}

.review {
    border-bottom: 1px solid #ccc;
    padding: 10px 0;
}

.review:last-child {
    border-bottom: none;
}

.review img {
    vertical-align: middle;
}

q {
    font-style: italic;
}

#review-count {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

#footer {
    text-align: center;
    margin-top: 20px;
}

#footer img {
    width: 88px;
    height: 31px;
    border: none;
}
