body {
    font-family: Arial, sans-serif;
    background-image: url('background.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #333;
    margin: 0;
    padding: 0;
}

#banner img {
    width: 100%;
}

.container {
    width: 60%;
    margin: 0 auto;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden; /* Clear the floats */
    position: relative; /* Ensure relative positioning */
    display: flex;
}

h1 {
    font-size: 3em;
    color:red;
}
h2 {
    text-align: center;
    font-size: 2em;
    margin: 20px 0;
}

#rotten-score span {
    font-size: 100px; /* Match the font size to the image height */
    color: red; /* Set text color to red */
    margin-left: 10px; /* Add some space between image and text */
    vertical-align: middle; /* Align text vertically with the image */
}

.side-column {
    display: flex;
    flex-direction: column;
    width: 30%; /* Adjust width as needed */
}

.overview{
    top: 0;
    float: right; /* Float right to align on the right side */
    margin-left: 10px;
}


.details {
    float: right;
}

.banner {
    position: absolute;
    top: 0;
    left: 0;
    width: 70%; /* Cover the entire container */
    height: 70px; /* Adjust height as needed */
    background-image: url('bannerbg.png');
    background-size: cover;
    background-position: center top;
    z-index: 0; /* Ensure banner is behind .reviews */
}

.inline-block-container {
    display: inline-block; /* Display children inline */
    vertical-align: top; /* Align to the top of the parent */
}

.inline-block-container img,
.inline-block-container h1 {
    margin: 0; /* Remove default margin */
}

.inline-block-container h1 {
    font-size: 36px; /* Adjust font size as needed */
    color: red; /* Example text color */
}

.reviews {
    display: flex;
    flex-wrap: wrap; /* Allow items to wrap if container is too narrow */
    max-width: 800px; /* Limit width of reviews */
    margin: 0 auto; /* Center align container */
    gap: 20px; /* Gap between items */
}

.reviews p {
    flex: 1 1 40%; /* Each paragraph takes 40% width, allows for 2 columns */
    border: 1px solid #ccc; /* Add 1px solid border with light gray color */
    padding: 20px; /* Padding for each paragraph */
    box-sizing: border-box; /* Include padding and border in element's total width and height */
}

.reviews img {
    width: 50px; /* Adjust image size as needed */
    vertical-align: middle; /* Align images vertically in the middle */
    margin-right: 10px; /* Add margin between image and text */
}

q {
    font-style: italic;
}

#review-count {
    position: absolute;
    bottom: 10px;
    width: 100%;
    text-align: center;
}

.footer {
    position: fixed;
    bottom: 10px;
    right: 10px;
    text-align: right;
}
.footer a {
    display: inline-block;
    margin-bottom: 5px;
}
